body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 202, 224);
    color: rgb(132, 47, 47);
    height: 90vh;
}

.yes{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.gif{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}